body{
    background-color: lightgrey;
    overflow: hidden; 
    
}

.container{
    padding: 20vw 0;
    text-align: center;

}

#arrivButton{
    font-size: 100px;
    color: #b73f3f;
}

#btn1{
    margin-top: 20px;
}
#btn2{
    margin-top: 20px;
}   

.images{
    position: absolute;
}

.firstImage{
    width: 150px;
    margin-left: 89%;
}


#mobile1{
    size: 200px;
}

.inputContainer{
    
    padding-top: 900vh;
}

#emailInput{
    width: 350px;
}